<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Shrinker</title>
</head>

<body>
    <div class="container my-5">
        <h1>Shrink :3</h1>
        <h2> welcome, <%= username %> <a class="btn" href="/logout">Logout</a></h2> 

		<div class="border p-4 mt-5">
			<form method="POST" action="/generate">
				<div class="mb-3">
					<label for="mainUrl" class="form-label">URL to shrink</label>
					<input type="url" class="form-control" id="mainUrl" name="mainUrl" required>
				</div>
				<div class="mb-3">
					<label for="custom" class="form-label">Custom</label>
					<input type="text" class="form-control" id="custom" name="custom">

					<div class="form-text">custom url is optional</div>
				</div>
				<button type="input" class="btn btn-outline-primary" id="submit">Shrink</button>

			</form>
		</div>
    </div>
</body>

</html>